<div>
    <div>Agence</div>
    <div class="text">
        <div>
            Bienvenue dans l’univers architectural de Sabine Bell
        </div>
        <div>
            Architecte DPLG depuis 25 ans Sabine Bell a étudié en Allemagne et a collaboré avec les plus grands cabinets d’Architecture Allemands et Européens.
        </div>
        <div>
            Installée en France maintenant depuis 18 ans, elle a développé une noyau de connaissances techniques et créatives qui lui permettent d’être l’Architecte qui accompagnera vos projets dans toutes ses étapes.
        </div>
        <div>
            Parlant couramment le français, l’anglais et l’allemand, vous trouverez un interlocuteur attentif et compétent à vos côtés…
        </div>
    </div>
</div>