<nav class="navbar" [ngClass]="{ 'full-screen': !isCompact, 'compact': isCompact }">
  <div
    *ngIf="!isCompact"
    class="absolute w-full h-full bg-cover bg-center filter blur-sm"
    [ngStyle]="{ 'background-image': 'url(assets/images/Bell-ExtReno-StPaulVence-1023-UNE.jpeg)' }">
  </div>

  <div class="relative z-10 w-full flex justify-between items-center px-8">
    <div class="navbar-links">
      <a routerLink="/projet">Projets</a>
      <a routerLink="/agence">Agence</a>
      <a routerLink="/contact">Contact</a>
    </div>

    <div class="navbar-logo">
      <img src="assets/images/logo-without-bg.png" alt="Logo" class="navbar-logo-img" />
    </div>

    <div class="navbar-links">
      <a>Français</a>
      <a>English</a>
      <a>Deutsch</a>
    </div>
  </div>
</nav>
