@import "../../../../styles.scss";

a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: $white;
  transition: width 0.3s ease;
  margin: auto;
}
nav.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;

  &.full-screen {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }

  &.compact {
    height: 50px;
    flex-direction: row;
    padding: 0 2rem;
  }
}

.navbar {
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 2rem;
  background-color: $primary-color;
  color: $white;
  position: relative;

  &-links {
    display: flex;
    gap: 2rem;

    a {
      text-decoration: none;
      color: $white;
      font-size:larger;
    }
    a:hover::after,
    a.active::after {
      width: 100%;
    }
    a:hover {
      cursor: pointer;
    }
  }

  &-logo {

    img {
      height: 12vh; // Ajuste la taille du logo selon ton besoin
    }
  }

  &-lang {
    
  }
}
