<div class="flex flex-col gap-12">
    <div class="flex flex-row gap-12">
        <div class="flex flex-[4] justify-center items-center text-2xl">Histoire</div>
        <div class="flex-[3] text-justify">
            <div>
                Bienvenue dans l’univers architectural de Sabine Bell
            </div>
            <div>
                Architecte DPLG depuis 25 ans Sabine Bell a étudié en Allemagne et a collaboré avec les plus grands
                cabinets d’Architecture Allemands et Européens.
            </div>
            <div>
                Installée en France maintenant depuis 18 ans, elle a développé une noyau de connaissances techniques et
                créatives qui lui permettent d’être l’Architecte qui accompagnera vos projets dans toutes ses étapes.
            </div>
            <div>
                Parlant couramment le français, l’anglais et l’allemand, vous trouverez un interlocuteur attentif et
                compétent à vos côtés…
            </div>
        </div>
        <div class="flex-[1]"></div>
    </div>

    <div class="flex gap-10">
        <div class="text-justify flex-[3] items-center justify-center">Lorem Ipsum is simply dummy text of the printing
            and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
            an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        <div class="flex-[3]">
            <img src="/assets/images/CapAntibes2.jpeg" alt="">
        </div>
    </div>
</div>