<div class="flex flex-col md:flex-row gap-12 min-h-[500px]">
    <!-- Texte -->
    <div class="md:flex-[3] flex flex-col justify-center gap-10 text-center">
        <div class="text-2xl">N'hésitez pas à nous contacter</div>
        <div class="text-secondary flex flex-col justify-center items-center">
            <div>16, Rue du Pontis 06560 Valbonne, France</div>
            <div><a href="tel:0493120208">+33 (0)4 93 12 02 08</a></div>
            <div><a href="mailto:contact@bell-architecture.com">{{'contact@bell-architecture.com'}}</a></div>
            </div>
    </div>

    <!-- Image -->
    <div class="md:flex-[9] w-full h-[300px] md:h-auto">
        <img src="assets/images/bell-architecture-villa-extension-UNE-2.jpeg" alt="Villa Bell Architecture"
            class="w-full h-full object-cover shadow-lg" />
    </div>
    </div>
