<footer>
  <div class="footer-container">
    <div class="footer-left">
      <p>2025 Mon Cabinet d'Architecture</p>
    </div>
    <img src="./assets/images/logo.jpeg" alt="" />
    <div class="footer-right">
      <a href="#">Mentions légales</a>
      <a href="#">Politique de confidentialité</a>
    </div>
  </div>
  <!-- <div class="social-links">
    <a href="#" target="_blank">Facebook</a>
    <a href="#" target="_blank">Instagram</a>
    <a href="#" target="_blank">LinkedIn</a>
  </div> -->
</footer>
