@import "../../../../../../styles.scss";

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

ul {
  list-style: none;
  display: flex;
  gap: 5vw;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
}

a {
  color: $secondary-color;
  font-size: large;
  font-weight: bold;
}

a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: $secondary-color;
  transition: width 0.3s ease;
  margin: auto;
}

a:hover::after,
a.active::after {
  width: 100%;
}
