@import "../../../../../../styles.scss";

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
}

a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: $primary-color;
  transition: width 0.3s ease;
  margin: auto;
}

a:hover::after,
a.active::after {
  width: 100%;
}
