<nav class="flex justify-center h-20 pb-8">
  <ul class="flex gap-8 list-none p-0 m-0">
    <li>
      <a
        class="text-secondary text-lg font-bold relative after:content-[''] after:block after:h-[2px] after:w-0 after:bg-secondary after:transition-all after:duration-300 after:mx-auto hover:after:w-full active:after:w-full">
        Tous
      </a>
    </li>
    <li>
      <a
        class="text-secondary text-lg font-bold relative after:content-[''] after:block after:h-[2px] after:w-0 after:bg-secondary after:transition-all after:duration-300 after:mx-auto hover:after:w-full active:after:w-full">
        Villa
      </a>
    </li>
    <li>
      <a
        class="text-secondary text-lg font-bold relative after:content-[''] after:block after:h-[2px] after:w-0 after:bg-secondary after:transition-all after:duration-300 after:mx-auto hover:after:w-full active:after:w-full">
        Appartement
      </a>
    </li>
    <li>
      <a
        class="text-secondary text-lg font-bold relative after:content-[''] after:block after:h-[2px] after:w-0 after:bg-secondary after:transition-all after:duration-300 after:mx-auto hover:after:w-full active:after:w-full">
        Permis
      </a>
    </li>
  </ul>
</nav>
