.image-sequence {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 20px 0;

  .image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px; /* Largeur maximale */
    gap: 20px;

    .image-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 48%; /* Deux images sur une ligne */

      img {
        width: 100%;
        height: auto;
        max-width: 100%;
      }

      p {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
      }
    }

    /* Ajouter un effet alterné pour la ligne */
    &.reverse {
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: 768px) {
  .image-row {
    flex-direction: column; /* Passage à une colonne sur les petits écrans */
  }

  .image-item {
    width: 100%; /* Occupe toute la largeur de l'écran */
    margin-bottom: 20px; /* Espacement entre les images */
  }
}
