<div class="image-sequence">
  <div class="image-row">
    <div class="image-item">
      <img
        src="/assets/images/bell-architecture-villa-LaDomaine-17-05.jpeg"
        alt="Après"
      />
      <p>Avant</p>
    </div>
    <div class="image-item">
      <img
        src="/assets/images/bell-architecture-villa-LaDomaine-17-05.jpeg"
        alt="Après"
      />
      <p>Après</p>
    </div>
  </div>

  <div class="image-row reverse">
    <div class="image-item">
      <img
        src="/assets/images/bell-architecture-villa-LaDomaine-17-05.jpeg"
        alt="Après"
      />
      <p>Avant</p>
    </div>
    <div class="image-item">
      <img
        src="/assets/images/bell-architecture-villa-LaDomaine-17-05.jpeg"
        alt="Après"
      />
      <p>Après</p>
    </div>
  </div>

  <div class="image-row">
    <div class="image-item">
      <img
        src="./assets/images/bell-architecture-villa-CapAntibes.jpg"
        alt="Avant"
      />
      <p>Avant</p>
    </div>
    <div class="image-item">
      <img
        src="/assets/images/bell-architecture-villa-LaDomaine-17-05.jpeg"
        alt="Après"
      />
      <p>Après</p>
    </div>
  </div>
</div>
